
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  
        <a href="#" class="navbar-brand">
            Baby Name Voter
        </a>
        
 

    <!-- <ul class="navbar-nav">
        <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/account" class="nav-link">My Account</a></li>
        <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/hub" class="nav-link">Hub</a></li>
    </ul> -->

    <ul class="navbar-nav navbar-collapse justify-content-end">
        <!-- <li><a *ngIf="!authService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li> -->
        <li><a *ngIf="loggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>

</nav>